---

---

<section class="container">
  <div id="banner" class="flex gap-5  p-5 h-[10vh] md:h-full justify-around items-center w-auto md:w-[550px]">
    <h1 class="text-[14px] ">
      Awesome experiences with <br />
      virtual reality world
    </h1>
    <img class="w-[50px] md:w-auto" src="images/banner/imgbanner.png" alt="banner img " />
  </div>
</section>
