---

---

<section class="container">
  <div id="banner" class="flex gap-5 p-5 justify-around items-center w-[550px]">
    <h1>
      Awesome experiences with <br />
      virtual reality world
    </h1>
    <img src="images/banner/imgbanner.png" alt="banner img " />
  </div>
</section>
