---

---

<section class="flex flex-col md:flex-row justify-around p-5 relative">
  <div class="md:w-6/12 flex flex-col gap-10 mt-[100px] md:absolute md:left-5">
    <h1 class="text-4xl font-bold">
      Let’s Explore <br /> Three-Dimensional <br /> visual
    </h1>
    <p>
      With virtual technology you can see the digital world feel more real and
      you can play the game with a new style.
    </p>
    <div class="flex gap-2">
      <button class="p-3 rounded-xl bg-pink-500 font-bold"> Get it Now</button>
      <button class="p-3 rounded-xl bg-transparent hover:bg-pink-500">
        Explore Device
      </button>
    </div>
    <div class="flex items-center relative">
      <div class="w-4/12 flex">
        <img
          class="absolute w-[50px] h-[50px] top-0 left-0"
          src="/images/users/user1.png"
          alt="asd"
        />
        <img
          class="absolute w-[50px] h-[50px] top-0 left-[40px]"
          src="images/users/user2.png"
          alt=""
        />
        <img
          class="absolute w-[50px] h-[50px] top-0 left-[80px]"
          src="images/users/user3.png"
          alt=""
        />
        <img
          class="absolute w-[50px] h-[50px] top-0 left-[120px]"
          src="images/users/user4.png"
          alt=""
        />
      </div>
      <div class="flex items-center gap-5 ms-10 mt-3">
        <span class="w-3 h-3 rounded-full bg-white"></span>
        <h1>400k people online</h1>
      </div>
    </div>
  </div>
  <div class=" mt-[50px] md:mt-0 mx-auto md:mx-0 md:absolute md:right-0 md:top-[100px]">
    <div class="relative h-[500px] w-[400px] flex justify-center">
      <img class="absolute bottom-0" src="images/hero/rectangle.png" alt="" />
      <img class="absolute top-[70px]" src="images/hero/hero.png" alt="" />
      <img
        class="absolute top-[40px]"
        src="images/hero/circlehero.png"
        alt=""
      />
      <img
        class="absolute top-5 right-5 object-contain"
        src="images/hero/star.png"
        alt=""
      />
      <div class="absolute bottom-[60px] flex flex-col gap-3">
        <h1 class="font-bold text-2xl text-center">
          Cinematic Virtual <br /> Reality
        </h1>
        <hr />
        <p class="text-center w-[240px] text-[12px]">
          Let’s be the best for more real and effective results and ready to
          explore the limitless world that we have prepared for you.
        </p>
      </div>
    </div>
  </div>
</section>
