---
const menu = [
  {
    id: 0,
    title: "Home",
  },
  {
    id: 1,
    title: "Company",
  },
  {
    id: 2,
    title: "Features",
  },
  {
    id: 3,
    title: "Sign Up",
  },
];
---

<nav class="flex justify-between p-5 items-center container">
  <a href="#" class="font-bold">Light</a>
  <button class="h-[30px] w-[30px]">
    <img src="images/icons/menu.svg" alt="" />
  </button>
  <ul class="md:flex gap-[37px] items-center hidden">
    {
      menu.map((e) => (
        <li class="">
          {e.id === 3 ? (
            <button class="bg-pink-500 p-3 rounded-lg"> {e.title} </button>
          ) : (
            <a href="#">{e.title}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>
