---

---

<section class="container my-[100px] p-7">
  <div
    class="h-auto md:h-[30vh] w-full rounded-xl bg-[#1b0520] flex md:flex-row flex-col gap-5"
  >
    <div class="md:w-6/12 flex flex-col gap-5 p-8 justify-around">
      <h1 class="text-[40px] md:text-4xl relative">
        Explore product in new way <img
          class="hidden md:absolute top-[50px] w-[20px] right-[180px]"
          src="images/icons/arrow.png"
        />
      </h1>
      <p class="md:text-[14px] text-[24px]">
        We specialize in creating visual identities for products and branda in
        your company.
      </p>
      <form class="flex gap-5">
        <input
          class="w-[70%] ps-3 rounded-xl"
          type="text"
          placeholder="Your Email"
        />
        <button
          class="p-5 w-[25%] h-[40px] rounded-xl outline-none active:outline-none bg-pink-500 flex items-center gap-2"
          >Start
        </button>
      </form>
    </div>
    <picture class="md:w-[400px] md:h-auto h-[50vh] relative">
      <img
        class="absolute top-0 w-full h-full"
        src="images/banner/imgContact.png"
        alt=""
      />
      <div class="absolute top-0 h-full w-full difuse"></div>
    </picture>
  </div>
</section>
