---

---

<section class="container  flex flex-col">
  <h1 class="text-4xl my-[100px] p-5 md:p-0">Mixed Reality Headsets</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-[150px] self-center  ">
    <div id="service-1" class="h-[180px]    w-[230px] relative scale-125 hover:scale-150 duration-75 ease-in-out cursor-pointer">
      <div class="flex flex-col gap-2 p-2 max-w-[170px] backdrop-blur-sm	 absolute left-0 bottom-0 ">
        <h1 class="underline">Metaverse</h1>
        <p class="text-[10px]">A Network of 3D virtual worlds focused on social connection.</p>
      </div>
    </div>
    <div id="service-2" class="h-[180px] w-[230px] relative scale-125 hover:scale-150 duration-75 ease-in-out cursor-pointer ">
      <div class="flex flex-col gap-2 p-2 max-w-[170px] backdrop-blur-sm	 absolute left-0 bottom-0 ">
        <h1 class="underline">AIoT</h1>
        <p class="text-[10px]">AI and IoT are both emerging innovative technologies with a lot of potentials. </p>
      </div>
    </div>
    <div id="service-3" class="h-[180px] w-[230px] relative scale-125 hover:scale-150 duration-75 ease-in-out cursor-pointer ">
      <div class="flex flex-col gap-2 p-2  max-w-[170px] backdrop-blur-sm	 absolute left-0 bottom-0 ">
        <h1 class="underline">HoloLens</h1>
        <p class="text-[10px]">HoloLens display information, blend with the real world , or even simulate a virtual world. </p>
      </div>
    </div>
    <div id="service-4" class="h-[180px] w-[230px] relative scale-125 hover:scale-150 duration-75 ease-in-out cursor-pointer ">
      <div class="flex flex-col gap-2 p-2 max-w-[170px] backdrop-blur-sm	 absolute left-0 bottom-0 ">
        <h1 class="underline">TPCASTT</h1>
        <p class="text-[10px]">Method is great to start students reading and inferring with little assistance from the instructor</p>
      </div>
    </div>
  </div>
</section>
